body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
}

.board-container {
  display: flex;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
  height: 300px;
}

.cell {
  border: 1px solid hsl(0, 0%, 80%);
}

.board .cell:nth-child(odd) {
  background: #000;
}

.board .cell:nth-child(even) {
  background: #fff;
}

.board .cell:nth-child(odd) .mark {
  color: #fff;
}
.board .cell:nth-child(even) .mark {
  color: #000;
}

.mark {
  font-size: 1.5rem;
  color: #000;
}

.status {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
