* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  max-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

.list .list-item {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  width: 40px;
  gap: 10px;
}

.buttons-container button {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}
