body {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
}

td,
th {
  padding: 4px;
  border-bottom: 1px solid #ddd;
  text-align: start;
}

th {
  vertical-align: top;
}

.filters {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
